@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Redressed', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: aliceblue;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header > h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--fonte2);
}

section.normal {
    background-color: rgb(255, 255, 255);
}

section.imagem {
    background-color: rgb(150, 150, 150);
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.342);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.836);
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}